<link rel="stylesheet" href="/static/stylesheets/aboutUs.css">
<div class="wrapper">
    <% include ./components/sidebar1_custom %>
    <section class="our-webcoderskull padding-lg">
        <div class="container">
            <div class="row heading heading-icon">
                <h2>IT4883 - PTPMPT - Nhóm 19</h2>
            </div>
            <ul class="row">
                <li class="col-12 col-md-6 col-lg-4">
                    <div class="cnt-block equal-hight" style="height: 349px;">
                        <figure><img src="https://scontent.fhan2-3.fna.fbcdn.net/v/t1.0-1/c0.0.320.320a/p320x320/74604464_2223761847923318_7506040998615580672_o.jpg?_nc_cat=109&_nc_ohc=_7ovHeQSojMAQmwMiZmu2E1rQqOQ0LU9pJTul37pKQalmmqUVL1ngxdWw&_nc_ht=scontent.fhan2-3.fna&oh=8d04775b63f02779c5f7894b6910f0e4&oe=5EA99C66" class="img-responsive" alt="">
                        </figure>
                        <h2><a href="https://www.facebook.com/daungocxit">Dương Đình Quang</a></h2>
                        <p style="font-size: large">20152938</p>
                        
                    </div>
                </li>
                <li class="col-12 col-md-6 col-lg-4">
                    <div class="cnt-block equal-hight" style="height: 349px;">
                        <figure><img src="https://scontent.fhan2-2.fna.fbcdn.net/v/t1.0-1/c0.0.160.160a/p160x160/71054566_2486965604873524_7148672184553046016_o.jpg?_nc_cat=111&_nc_ohc=O5FSjlLrxbAAQkQhZ6ryHilD_GPfGVVRtkHsousC2cV3VHkxvIQQTHRow&_nc_ht=scontent.fhan2-2.fna&oh=b9baac4fe6a406a303442edbf411945e&oe=5E726CBA" class="img-responsive" alt="">
                        </figure>
                        <h2><a href="https://www.facebook.com/profile.php?id=100006803266788">Phạm Minh Hiếu </a></h2>
                        <p style="font-size: large">20151359</p>
                        
                    </div>
                </li>
                <li class="col-12 col-md-6 col-lg-4">
                    <div class="cnt-block equal-hight" style="height: 349px;">
                        <figure><img src="https://scontent.fhan2-4.fna.fbcdn.net/v/t1.0-1/p160x160/735204_469103023287816_1138864901453103217_n.jpg?_nc_cat=105&_nc_ohc=hd8gaakQ-pIAQkx1YZpQyhj60EYmF_sv4l1WOY62r3FV0NJtcSq0m-qiw&_nc_ht=scontent.fhan2-4.fna&oh=269786551081aca8b6c60eb092ca9251&oe=5EAA3C64" class="img-responsive" alt="">
                        </figure>
                        <h2><a href="https://www.facebook.com/tu.bui.14473">Bùi Sỹ Tú</a></h2>
                        <p style="font-size: large">20154188</p>
                        
                    </div>
                </li>
                <li class="col-12 col-md-6 col-lg-4">
                    <div class="cnt-block equal-hight" style="height: 349px;">
                        <figure><img src="https://scontent.fhan2-4.fna.fbcdn.net/v/t1.0-1/p160x160/26001144_947210355428661_5040533114726472689_n.jpg?_nc_cat=105&_nc_ohc=KydHQMr5w_YAQkm4fcpX8K8WFI-LAbyt_3zx-P76YzLOgLPZeI-rUp7yA&_nc_ht=scontent.fhan2-4.fna&oh=7b3636f289a3d2643b4084921309b348&oe=5E74EAD8" class="img-responsive" alt="">
                        </figure>
                        <h2><a href="https://www.facebook.com/danh.vo.986">Đỗ Tuấn Tú </a></h2>
                        <p style="font-size: large">20179757</p>
                        
                    </div>
                </li>
                <li class="col-12 col-md-6 col-lg-4">
                    <div class="cnt-block equal-hight" style="height: 349px;">
                        <figure><img src="https://scontent.fhan2-1.fna.fbcdn.net/v/t31.0-1/c94.0.320.320a/p320x320/10506738_10150004552801856_220367501106153455_o.jpg?_nc_cat=1&_nc_ohc=meXgTWqTSTAAQmrb71MNWMQoXI3aarGwUmgC9J9txMkAykuWDpTlNVtZw&_nc_ht=scontent.fhan2-1.fna&oh=b91f22515a242620caba2a27dadddf13&oe=5E707A17" class="img-responsive" alt="">
                        </figure>
                        <h2><a href="https://www.facebook.com/shinn119">Nguyễn Văn Hải </a></h2>
                        <p style="font-size: large">20151212</p>
                        
                    </div>
                </li>
            </ul>
        </div>
    </section>
</div>